<%= fields_for (@greenroof) do |f| %>

    <%= f.label :year, h('Viherkaton valmistumisvuosi *') %>
    <%= f.number_field :year, :required => true %>

    <%= f.label :locality, h('Paikkakunta *') %>
    <%= f.text_field :locality, :required => true %>

    <%= f.label :address, h('Katon osoite') %>
    <%= f.text_field :address %>

    <%= f.label :role, h('Lisään viherkaton roolissa *') %>
    <div class="required" id="role-choose">
      <%= collection_select(:role, :id, Role.all, :id, :value, options = {prompt: "Valitse rooli"}, :class => "selectpicker show-menu-arrow show-tick span3", :required => true ) %>
    </div>

    <%= f.label :owner, h("Viherkaton omistaja *") %>
    <%= f.text_field :owner %>

    <%= f.label :constructor, h("Viherkaton rakennuttaja") %>
    <%= f.text_field :constructor%>

    <%= f.label :purpose, h('Viherkaton käyttötarkoitus *') %>
    <div class="required" id="purpose-choose">
      <% if @greenroof.purposes.empty? %>
          <%= collection_select :purpose, :id, Purpose.all, :id, :value,
                                {}, :title => "Valitse käyttötarkoitus", :class => "selectpicker show-menu-arrow show-tick span3 chosen-env", :multiple => true, :required => true %>
      <% else %>
          <%= collection_select :purpose, :id, Purpose.all, :id, :value,
                                {:selected => @greenroof.purposes.map { |purp| purp.id }},  :class => "selectpicker show-menu-arrow show-tick span3", :multiple => true, :required => true %>
      <% end %>
    </div>

    <%= f.label :note, h('Vapaa kuvaus viherkatosta ja rakentamisesta') %>
    <%= f.text_area :note %>

    <%= f.label :usage_experience, h('Käyttökokemuksia ja huomioita') %>
    <%= f.text_area :usage_experience %>

<% end %>

