<%= form_for(@plant) do |f| %>
    <%= render 'shared/error_plants' %>
    <div>
      <table class="table">
        <tr>
          <td><%= f.label :name %></td>
          <td><%= f.label @plant.name %></td>
        </tr>

        <tr>
          <td><%= f.label :latin_name %></td>
          <td><%= f.label @plant.latin_name %></td>
        </tr>
        <% if @plant.colours.size > 0 %>
            <tr>
              <td><%= f.label :colour %></td>
              <td>
                <%=
                    colours = ""
                    @plant.colours.each_with_index do |col, index|
                      if index == @plant.colours.size - 1
                        colours += col.value
                      else
                        colours += col.value + ", "
                      end
                    end
                    f.label colours
                %>
              </td>
            </tr>
        <% end %>
        <tr>
          <td><%= f.label :light %></td>
          <td><%= f.label Light.find(@plant.light_id).value %></td>
        </tr>

        <% if !@plant.growth_environments.empty? && !@plant.growth_environments.nil? %>
            <tr>
              <td><%= f.label :growth_environment %></td>
              <td>
                <%= if (@plant.growth_environments.empty?)
                      f.label "Tyhjä"
                    else
                      f.label printEnvironments(@plant.growth_environments)
                    end %>
              </td>
            </tr>
        <% end %>

        <% unless @plant.maintenance.nil? %>
            <tr>
              <td><%= f.label :maintenance %></td>
              <td><%= f.label @plant.maintenance.name %></td>
            </tr>
        <% end %>

        <tr>
          <td><%= f.label :min_soil_thickness %></td>
          <td><%= f.label @plant.min_soil_thickness %></td>
        </tr>

        <% if !@plant.min_height.nil? && !@plant.max_height.nil? %>

            <% @printable = " " %>
            <% if @plant.min_height != 0 || @plant.max_height != 0 %>
                <tr>
                  <td><%= f.label "height" %></td>
                  <td>
                    <%= if @plant.min_height == @plant.max_height

                          @printable = @plant.min_height.to_s
                        else

                          @printable += @plant.min_height.to_s + ' - ' + @plant.max_height.to_s
                        end
                        f.label @printable %>
                  </td>
                </tr>
            <% end %>
        <% end %>

        <tr>
          <td><%= f.label :weight %></td>
          <td><%= f.label @plant.weight %></td>
        </tr>
        <% if @plant.note != "" %>
            <tr>
              <td><%= f.label :note %></td>
              <td><%= f.label @plant.note %></td>
            </tr>
        <% end %>

        <tr>
          <td><%= f.label :links %></td>
          <td>
            <% for i in 0..2 %>
                <% if !@plant.links[i].nil? && !@plant.links[i].link.empty? %>
                    <% @link = @plant.links[i].link

                       unless @link[/^http:\/\//] || @link[/^https:\/\//]
                         @link = 'http://' + @link
                       end
                    %>

                    <%= if @plant.links[i].name.empty?
                          link_to @link, @link
                        else
                          link_to @plant.links[i].name, @link
                        end %>
                    <br>
                <% end %>
            <% end %>
          </td>
        </tr>
      </table>
      <div class="row">
        <% if signed_in? && current_user.admin? %>
            <%= link_to "Muokkaa", edit_plant_path(@plant), class: "btn btn-large btn-custom" %>
        <% end %>
        <%= link_to "Takaisin selaukseen", plants_path, class: "btn btn-large btn-custom" %>
      </div>
    </div>

    </div>

    <div>
      <h4>
        Tämä kasvi löytyy esimerkiksi seuraavilta viherkatoilta
      </h4>
      <% if @plant.greenroofs.empty? %>
          <label>Tätä kasvia ei löydy yhdeltäkään viherkatolta.</label>
      <% else %>
          <% @plant.greenroofs.all(:limit => 3).each do |groof| %>
              <%= link_to '/greenroofs/' + groof.id.to_s, :target => "_blank" do %>
                  <div class="hero-unit greenroof-list-hero-unit span4" style="cursor: pointer;">
                    <div class="thumbnail pull-left">
                      <% unless groof.images.first.nil? %>
                          <img src="greenroofs/photos/<%= groof.id.to_s + "/" + groof.images.first.thumb %>">
                      <% else %>
                          <img src="/assets/no_image_small.jpg">
                      <% end %>
                    </div>
                    <div>
                      <h5>Omistaja:</h5>

                      <p><%= groof.owner %></p>
                      <h5>Sijainti:</h5>

                      <p><%= groof.locality %></p>
                    </div>
                  </div>
              <% end %>
          <% end %>
      <% end %>
<% end %>
