<% provide(:title, 'Rekisteröityminen') %>
<h1>Rekisteröityminen</h1>

<div class="row">
  <div class="span5 offset3">
    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages' %>

        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :profession %>
        <%= select(:user, :profession, @ammatit) %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>

        <%= f.submit "Rekisteröidy", class: "btn btn-large btn-custom" %>
    <% end %>
  </div>
</div>