<% provide(:title, 'Etusivu') %>

<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>
<%= render 'pages/bootstrap-carousel' %>
<div class="container">
  <div class="row-fluid">
    <div class="span4">
      <h2><%= link_to "Viherkattosuunnittelija", '/suunnittele' %></h2>

      <p>Oletko suunnittelemassa viherkattoa?
        Täältä saat tietoa suunnitelmiisi sopivista ratkaisuista ja esimerkkejä vastaavista, toteutuneista kohteista.
      </p>
    </div>
    <div class="span4">

      <h2><%= link_to "Valmiit viherkatot", '/greenroofs' %></h2>

      <p>Täällä pääset selaamaan muiden esittelemiä viherkattoprojekteja ja lisäämään palveluun tiedot omasta
        viherkatostasi.</p>
    </div>
    <div class="span4">
      <h2><a href="#">Perustietoa viherkatoista</a></h2>

      <p>Kattavampaa tietoa täältä.</p>
    </div>
  </div>
</div>

<script>
    $(document).ready(function () {
        $('.carousel').carousel({
            interval: 8000
        });
    });
</script>