<% provide(:title, 'Yhteystiedot') %>

<div class="container">

  <div class="span7">
    <h1>Yhteystiedot</h1>
  </div>

  <div class="row-fluid marketing">

    <div class="span6 pull-left">
      <%= fields_for :contacts do |f| %>
          <h3><%= @contact.otsikko %></h3>
          <table class="table" id="contact-table">
            <tr>
              <td><%= f.label :osoite, h("Osoite: ") %></td>
              <td><%= f.label @contact.osoite %></td>
            </tr>
            <tr>
              <td><%= f.label :email, h("Sähköposti: ") %></td>
              <td><label><%= @contact.email %></label></td>
            </tr>
            <tr>
              <td><%= f.label :puhelin, h("Puhelinnumero: ") %></td>
              <td><%= f.label @contact.puhelin %></td>
            </tr>
            <tr>
              <table class="table">
                <td class="span2"><%= f.label :note, h("Lisätiedot: ") %></td>

                <td>
                  <div class="well"><%= @contact.note %> </div>
                </td>
                <% if signed_in? && current_user.admin? %>
                    <tr>


                      <td/><td><%= link_to "Muokkaa", edit_contact_path(@contact), class: "btn btn-large btn-custom", id:"Muokkaabutton" %></td>

                    </tr>
                <% end %>
              </table>
            </tr>
            <%= link_to "Lisätietoa sivusta", contact_path('about') %>

          </table>
      <% end %>
    </div>

    <div class="span6 pull-right">
      <%= link_to (image_tag 'viherkatot_logo.jpg', class: "img-polaroid"), 'http://www.luomus.fi/kasvitiede/tutkimus/viherkatot/' %>
    </div>
    </td>
  </div>

</div>
