<% provide(:title, 'Kasvien p채ivitys') %>
<%= stylesheet_link_tag "bootstrap-select", media: "all" %>
<h1>Kasvin p채ivitys</h1>


<div class="row">
  <div class="span5 offset3">
    <%= form_for(@plant) do |f| %>
        <%= render 'shared/error_plants' %>
        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :latin_name %>
        <%= f.text_field :latin_name %>

        <%= f.label :colour %>
        <%= f.select :colour, colour_categories, {}, :class => "selectpicker show-menu-arrow span5" %>

        <%= f.label :light_id %>
        <%= collection_select(:light, :id, Light.all,
                              :id, :desc, {:selected => @plant.light_id}, :class => "selectpicker show-menu-arrow span5") %>

        <%= f.label :growth_environment %>
        <%= collection_select(:growth_environments, :id, GrowthEnvironment.all,
                              :id, :environment, {:selected => @plant.growth_environments.first.id}, :class => "selectpicker show-menu-arrow span5" ) %>

        <%= f.label :maintenance %>
        <%= select :plant, :maintenance, [['Helppo', 0], ['Keskivaikea', 1], ['Vaikea', 2]], {}, :class => "selectpicker show-menu-arrow span5" %>

        <%= f.label "minimum soil thickness (cm)" %>
        <%= f.text_field :min_soil_thickness %>

        <%= f.label :height %>
        <%= f.text_field :height %>

        <%= f.label "weight (kg/m2)" %>
        <%= f.text_field :weight %>

        <%= f.label :note %>
        <%= f.text_field :note %>

        <%= f.submit "P채ivit채", class: "btn btn-large btn-custom" %>
    <% end %>
  </div>
</div>

<%= javascript_include_tag "bootstrap-select" %>

<script>$('.selectpicker').selectpicker();</script>
