<% provide(:title, 'Kasvit') %>

<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>
<p class="pagination"></p>
<p class="content"></p>
<ul class="plant-list list" data-id="plant">
</ul>
<%= javascript_include_tag "pagination/bootpag" %>
<%= javascript_include_tag "pagination/plants" %>
<%= javascript_include_tag "pagination/paginator" %>