<% provide(:title, 'Kasvit') %>

<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>
<p class="pagination"></p>
<p class="content"></p>
<section data-object="plant" data-id="list-section">
  <ul class="plant-list list">
  </ul>
</section>
<%= javascript_include_tag "pagination/bootpag" %>
<%= javascript_include_tag "pagination/plants" %>
<%= javascript_include_tag "pagination/paginator" %>