<% provide(:title, 'Kasvien lis채ys') %>
<%= stylesheet_link_tag    "bootstrap-select", media: "all" %>
<h1>Kasvien lis채ys</h1>


<div class="row">
  <div class="span5 offset3">
    <%= form_for(@plant) do |f| %>
        <%= render 'shared/error_plants' %>
        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :latin_name%>
        <%= f.text_field :latin_name %>

        <%= f.label :colour %>
        <%= f.select :colour, colour_categories, {}, :class => "selectpicker show-menu-arrow span5"%>

        <%= f.label :light_id %>
        <%= collection_select(:light, :id, Light.all,
                              :id, :desc, {:selected => 3} ,:class => "selectpicker show-menu-arrow span5" )%>

        <%= f.label :maintenance %>
        <%= select :plant, :maintenance, [['Helppo',1],['Keskivaikea',2], ['Vaikea',3]], {}, :class => "selectpicker show-menu-arrow span5"%>

        <%= f.label "minimum soil thickness (cm)" %>
        <%= f.text_field :min_soil_thickness %>

        <%= f.label :height %>
        <%= f.text_field :height %>

        <%= f.label "weight (kg/m2)" %>
        <%= f.text_field :weight %>

        <%= f.label :note %>
        <%= f.text_field :note %>

        <%= f.submit "Lis채채 uusi kasvi", class: "btn btn-large btn-custom" %>
    <% end %>
  </div>
</div>

<%= javascript_include_tag "bootstrap-select" %>

<script>$('.selectpicker').selectpicker();</script>
