<h1>
<%= @plant.name %>
</h1>

<p>Colour:                  <%= @plant.colour %></p>
<p>Aestethic appeal:        <%= @plant.aestethic_appeal %></p>
<p>Light requirement:       <%= @plant.light_requirement %></p>
<p>Maintenance requirement: <%= @plant.maintenance %></p>
<p>Weight (kg/m2)           <%= @plant.weight %></p>
<p>Minimum soil thickness   <%= @plant.min_soil_thickness %></p>
<p>Note                     <%= @plant.note %></p>
