<% provide(:title, 'Kasvinäkymä') %>
<%= stylesheet_link_tag "bootstrap-select", media: "all" %>

<div class="row">
  <div class="span5 offset1">

    <h1>
      <%= @plant.name %>
    </h1>



    <table>

    <tr><td>Latinankielinen nimi:</td>               <td><%= @plant.latin_name %></td></tr>

      <tr><td>Väri:</td>                             <td><%= @plant.colour %></td></tr>

      <tr><td>Nättiys:</td>                          <td><%= @plant.aestethic_appeal %></td></tr>

      <tr><td>Peittävyys:</td>                       <td><%= coverageLevel(@plant.coverage) %></td></tr>

      <tr><td>Valontarve:</td>                       <td><%= lightness(@plant.light_requirement) %></td></tr>

      <tr><td>Hoidontarve:</td>                      <td><%= maintenanceLevel(@plant.maintenance) %></td></tr>

      <tr><td>Paino (kg/m2):</td>                    <td><%= @plant.weight %></td></tr>

      <tr><td>Minimipaksuus pohjalle:</td>           <td><%= @plant.min_soil_thickness %></td></tr>

      <tr><td>Huomioita:</td>                        <td><%= @plant.note %></td></tr>

    </table>
  </div>
</div>

<%= javascript_include_tag "bootstrap-select" %>

<script>$('.selectpicker').selectpicker();</script>