<% provide(:title, 'Kasvinäkymä') %>
<%= stylesheet_link_tag "bootstrap-select", media: "all" %>

<div class="row">
  <div class="span5 offset3">

    <h1>
      <%= @plant.name %>
    </h1>

    <%= form_for(@plant) do |f| %>
        <%= render 'shared/error_plants' %>
        <table class="table">
          <tr>
            <td><%= f.label :name %></td>
            <td><%= f.label @plant.name %></td>
          </tr>

          <tr>
            <td><%= f.label :latin_name %></td>
            <td><%= f.label @plant.latin_name %></td>
          </tr>
          <% if @plant.colours.size > 0 %>
              <tr>
                <td><%= f.label :colour %></td>
                <td>
                  <%=
                      colours = ""
                      @plant.colours.each_with_index do |col, index|
                        if index == @plant.colours.size - 1
                          colours += col.value
                        else
                          colours += col.value + ", "
                        end
                      end
                      f.label colours
                  %>
                </td>
              </tr>
          <% end %>
          <tr>
            <td><%= f.label :light %></td>
            <td><%= f.label Light.find(@plant.light_id).desc %></td>
          </tr>

          <tr>
            <td><%= f.label :maintenance %></td>
            <td><%= f.label maintenanceLevel(@plant.maintenance) %></td>
          </tr>

          <tr>
            <td><%= f.label :min_soil_thickness %></td>
            <td><%= f.label @plant.min_soil_thickness %></td>
          </tr>

          <tr>
            <td><%= f.label :height %></td>
            <td><%= f.label @plant.height %></td>
          </tr>

          <tr>
            <td><%= f.label :weight %></td>
            <td><%= f.label @plant.weight %></td>
          </tr>
          <% if @plant.note != "" %>
              <tr>
                <td><%= f.label :note %></td>
                <td><%= f.label @plant.note %></td>
              </tr>
          <% end %>
        </table>
    <% end %>

    <% if signed_in? && current_user.admin? %>
        <%= link_to "Muokkaa", edit_plant_path(@plant), class: "btn btn-large btn-custom" %>
    <% end %>

  </div>
</div>

<%= javascript_include_tag "bootstrap-select" %>

<script>$('.selectpicker').selectpicker();</script>