<% provide(:title, 'Viherkatot') %>

<% flash.each do |key, value| %>
    <div class="span2 alert alert-<%= key %>"><%= value %></div>
<% end %>

<div id="confirm-modal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Huom!</h3>
  </div>
  <div class="modal-body">
    <p>Oletko varma, että haluat poistaa valitun viherkaton? Poistamisen jälkeen viherkattoa ei voi enää palauttaa.</p>
  </div>
  <div class="modal-footer">
    <a id="modal-cancel" href="#" class="btn">En</a>
    <a id="modal-accept" href="#" class="btn btn-primary">Kyllä</a>
  </div>
</div>

  <section data-object="greenroof" data-id="list-section">
      <p class="pagination" style="padding-left: 1em"></p>
      <p class="content"></p>
    <div class="row greenroof-list" id='hero-div'>
    </div>
  </section>

<%= stylesheet_link_tag "bootstrap-modal" %>
<%= javascript_include_tag "bootstrap-modalmanager" %>
<%= javascript_include_tag "bootstrap-modal" %>
<%= javascript_include_tag "pagination/bootpag" %>
<%= javascript_include_tag "pagination/greenroofs" %>
<%= javascript_include_tag "pagination/paginator" %>
