<!-- Masthead as provided by Twitter Bootstrap -->
<div class="container greenroof-addition">
  <header class="jumbotron subhead">
    <h1>Lisää oma viherkatto</h1>
  </header>

  <section id="form">
    <div class="row">
      <div class="span7">
        <p class="lead">Oletko kenties itse rakentanut tai rakennuttanut viherkaton ja haluat jakaa sen muiden kanssa?
          Jakamalla sen täällä lähetät teoksesi maailmalle kaikkien ihailtavaksi.</p>

        <form class="form-horizontal">
          <fieldset>
            <legend class="greenroof-details">Viherkaton yleiset tiedot</legend>
            <br>
            <div id="purpose-select">
              <%= render 'shared/forms/groof_form_fields' %>
            </div>
            <br><br>
            <label>Kuva viherkatostasi:</label>

            <div class="fileupload fileupload-new" data-provides="fileupload" name="image-upload">
              <span class="btn btn-file"><span class="fileupload-new">Select file</span><span class="fileupload-exists">Change</span><input type="file" id="image-upload"/></span>
              <span class="fileupload-preview"></span>
              <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
            </div>
            <br></br>
            <legend class="roof-details">Katon tekniset tiedot</legend>
            <div id="large-input-right">
              <%= render 'shared/forms/roof_form_fields' %>
            </div>
            <legend>Viherkaton rakennekerrokset</legend>
            <%= render 'shared/forms/groof_constituent_fields' %>
            <legend class="foundation-plants">Perustamisvaiheen kasvit</legend>
            <%= render 'shared/forms/plant_livesearch' %>
          </fieldset>
        </form>
      </div>
    </div>
  </section>
</div>

<section id="form">
  <%= render 'shared/green_roof_addition/green_roof_compendium' %>
</section>

<%= javascript_include_tag "bootstrap-select" %>
<%= stylesheet_link_tag "bootstrap-select", media: "all" %>
<%= stylesheet_link_tag "bootstrap-fileupload", media: "all" %>
<%= javascript_include_tag "pagination/bootpag" %>
<%= javascript_include_tag "greenroof_addition/livesearch" %>
<%= javascript_include_tag "bootstrap-select" %>
<%= javascript_include_tag "bootstrap-tooltip" %>
<%= javascript_include_tag "greenroof_addition/form_handler" %>
<%= javascript_include_tag "bootstrap-fileupload" %>
<script>$('.selectpicker').selectpicker();</script>
<script>$('.fileupload').fileupload({uploadtype : "image"})</script>
