<%= stylesheet_link_tag "bootstrap-select", media: "all" %>
<% provide(:title, 'Kasvit') %>

<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<%= render 'shared/forms/roof_form_fields' %>
<div class="row">



<div class="baseAdder span4">
  <form class="form-horizontal">
    <fieldset>

      <!-- Form Name -->
      <legend>Lisää pohja</legend>

      <!-- Text input-->
      <div class="control-group">
        <label class="control-label" for="textinput">Materiaali *</label>
        <div class="controls">
          <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="input-xlarge">
        </div>
      </div>

      <!-- Text input-->
      <div class="control-group">
        <label class="control-label" for="textinput">Paksuus (cm) *</label>
        <div class="controls">
          <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="input-xlarge">
        </div>
      </div>

      <!-- Text input-->
      <div class="control-group">
        <label class="control-label" for="textinput">Vedenimukyky (l/m2) *</label>
        <div class="controls">
          <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="input-xlarge">
        </div>
      </div>

      <!-- Text input-->
      <div class="control-group">
        <label class="control-label" for="textinput">Paino (kg/m2) *</label>
        <div class="controls">
          <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="input-xlarge">
        </div>
      </div>

    </fieldset>
  </form>
</div>

<div class="baseAdder span4">
  <form class="form-horizontal">
    <fieldset>

      <!-- Form Name -->
      <legend>Lisää katto</legend>

      <!-- Text input-->
      <div class="control-group">
        <label class="control-label" for="textinput">Text Input</label>
        <div class="controls">
          <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="input-xlarge">
        </div>
      </div>

      <!-- Text input-->
      <div class="control-group">
        <label class="control-label" for="textinput">Text Input</label>
        <div class="controls">
          <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="input-xlarge">
        </div>
      </div>

      <!-- Select Basic -->
      <div class="control-group">
        <label class="control-label" for="selectbasic">Select Basic</label>
        <div class="controls">
          <select id="selectbasic" name="selectbasic" class="input-xlarge">
            <option>Option one</option>
            <option>Option two</option>
          </select>
        </div>
      </div>

      <!-- Text input-->
      <div class="control-group">
        <label class="control-label" for="textinput">Text Input</label>
        <div class="controls">
          <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="input-xlarge">
        </div>
      </div>

    </fieldset>
  </form>

</div>
</div>


<p class="content"></p>
<div id="plant-search">
  <!--<form class="navbar-search"><label>Hae kasveja: <input id="search" type="text"></label></form>     -->
  <%= text_field_tag 'search', nil, :placeholder => 'Hae kasvia nimellä', :class => "span4"%>
  <!--<%= select_tag 'colour', "<option>Sininen</option><option>Punainen</option><option>Keltainen</option><option>Vihreä</option>".html_safe, :class => "selectpicker bootstrap-select show-menu-arrow span4" %>
  -->
  <ul class="plant-list">
  </ul>
</div>



<div id="chosenOnes">
  <ul class="chosen-list">

    <h4 class="pull-left">Valitsemasi kasvit</h4>
  </ul>
</div>

<%= javascript_include_tag "pagination/bootpag" %>
<%= javascript_include_tag "livesearch" %>
<%= javascript_include_tag "bootstrap-select" %>
<%= javascript_include_tag "bootstrap-tooltip" %>
<script>$('.selectpicker').selectpicker();</script>


