<%= stylesheet_link_tag "bootstrap-select", media: "all" %>
<% provide(:title, 'Viherkaton lisäys') %>

<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<div class="row large-input">
  <h1>Viherkaton tiedot</h1>
  <div class="span5">
    <%= render 'shared/forms/groof_form_fields' %>
  </div>
  <div class="span5" id="large-input-right">
    <%= render 'shared/forms/roof_form_fields' %>
  </div>
</div>


<div class="plantAdder row">
  <div class="span5">
    <h1>Lisää kasvit</h1>
    <%= text_field_tag 'search', nil, :placeholder => 'Hae kasvia nimellä', :class => "span4" %>
    <div id="plant-search">
      <ul class="plant-list">
      </ul>
    </div>
  </div>
  <div class="span5">
    <div class="baseAdder">
      <%= render 'shared/error_messages_roof' %>
      <h1>Lisää pohja</h1>

      <div class="adderForms" id="base-form">
        <% @greenroof.bases.each_with_index do |base, i| %>
            <div id="base<%= i+1 %>" class="baseAdder">
              <%= render 'shared/forms/base_form_fields_for_greenroof_addition.html.erb', :base => base, :index => i %>

              <div class="btn-group" id="add-layer-btn-grp">
                <button class="btn  span2" id="add-layer-button" >Lisää kerros</button>
                <button class="btn dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" id="add-layer-dropdown-list">
                  <li>
                    <a href="#">Kasvukerros</a>
                  </li>
                  <li>
                    <a href="#">Vedenpidätyskerros</a>
                  </li>
                  <li>
                    <a href="#">Salaojakerros</a>
                  </li>
                  <li>
                    <a href="#">Juurisuojakerros</a>
                  </li>
                  <li>
                    <a href="#">Muu</a>
                  </li>
                </ul>
              </div>
            </div>

        <% end %>
      </div>
      <div class="add-base-button">
        <button id="add-base-button" class="btn-small btn-custom base-form-button">Lisää pohja</button>
      </div>
    </div>
  </div>
</div>

<div id="chosenOnes" class="row span3">
  <div id="chevrons">
    <i class="icon-chevron-down" id="clickDown"></i>
    <i class="icon-chevron-up" id="clickUp"></i>
  </div>

  <div id="chosenOnesSlide" class="row">
    <h2>Yhteenveto</h2>
    <div class="span2">
      <h5>Yleiset</h5>
      <ul class="unstyled">
        <li class="address" required>Osoite: </li>
        <li class="note" required>Vapaa kuvaus: </li>
      </ul>
    </div>
    <div class="span2">
      <h5>Katto</h5>
      <ul class="unstyled">
        <li class="area" required>Pinta-ala: </li>
        <li class="declination" required>Kaltevuus: </li>
        <li class="location" required>Sijainti: </li>
        <li class="capacity" required>Kantavuus: </li>
      </ul>
    </div>
    <div class="span2">
      <ul id="theplants" class="chosen-list unstyled ">
        <h5>Valitsemasi kasvit</h5>
      </ul>
    </div>
    <div class="span2">
      <ul class="roof-list unstyled">
        <h5>Kasvualusta</h5>
        <li class="area" required>Materiaali: </li>
        <li class="declination" required>Vedenimukyky: </li>
      </ul>
    </div>
    <button class="btn btn-small btn-custom" id="save">Tallenna</button>
  </div>
</div>
</form>
<%= javascript_include_tag "pagination/bootpag" %>
<%= javascript_include_tag "livesearch" %>
<%= javascript_include_tag "bootstrap-select" %>
<%= javascript_include_tag "bootstrap-tooltip" %>
<%= javascript_include_tag "greenroof_addition/form_handler" %>
<script>$('.selectpicker').selectpicker();</script>


