<%= stylesheet_link_tag "bootstrap-select", media: "all" %>
<% provide(:title, 'Viherkaton lisäys') %>

<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<div class="row">
  <div class="baseAdder span4">
    <h1>Lisää katto</h1>

    <div id="adderForms">
      <%= render 'shared/forms/roof_form_fields' %>
    </div>
  </div>

  <div class="baseAdder span4">
    <h1>Lisää pohja</h1>
    <div id="adderForms">
      <%= render 'shared/forms/layer_form_fields' %>
      <%= render 'shared/forms/base_form_fields' %>
    </div>
  </div>

  <div class="plantAdder span4">
    <p class="content"></p>
    <div>
      <h1>Lisää kasvit</h1>
      <%= text_field_tag 'search', nil, :placeholder => 'Hae kasvia nimellä', :class => "span4"%>
    </div>
    <div id="plant-search">
      <ul class="plant-list">
      </ul>
    </div>
  </div>

  <div class="baseAdderBonus span4">
    <h1>Viherkaton tiedot</h1>
    <p>Osoite</p>
    <div id="adderForms">
      <%= text_field_tag 'address', nil, :placeholder => 'Osoite', :class => 'centeredField span4' %>
    </div>
    <%= text_area 'note', nil, :placeholder => 'Vapaa kuvaus' %>
  </div>
</div>


<div id="chosenOnes" class="row span5">

  <h2>Yhteenveto</h2>

  <div class="span2">
  <ul id="theplants" class="chosen-list unstyled ">
    <h4>Valitsemasi kasvit</h4>
  </ul>
  </div>

  <div class="span2">
  <ul class="roof-list unstyled">
    <h4>Katon tiedot</h4>
      <li class="area">Pinta-ala: </li>
      <li class="declination">Kaltevuus: </li>
      <li class="capacity">Kantavuus: </li>
  </ul>
  </div>

  <div class="span2">
    <h4>Pohjan tiedot</h4>
  </div>
</div>

<%= javascript_include_tag "pagination/bootpag" %>
<%= javascript_include_tag "livesearch" %>
<%= javascript_include_tag "bootstrap-select" %>
<%= javascript_include_tag "bootstrap-tooltip" %>
<script>$('.selectpicker').selectpicker();</script>


