<% provide(:title, "Viherkattojen haku") %>
<%= stylesheet_link_tag "bootstrap-select", media: "all" %>
<div class="row">
  <div class="span5 offset3">
    <h1>Haku viherkatoista</h1>
    <p>Täytä haluamasi kentät hakuehdoilla ja paina sitten Hae-nappia. Voit täyttää yhden tai useamman kentän. Tulokset näkyvät sivun alalaidassa.</p>
  </div>
</div>
<div class="row">
  <div class="span5 offset3">
    <div data-id="greenroof" id="search-form">
      <div class="well">
        <h2 class="jee">Yleiset</h2>
        <label>Osoite: </label>
        <input type="text" name="address" data-id="address" class="search-input">
        <label>Paikkakunta: </label>
        <input type="text" name="locality" data-id="locality" class="search-input">
        <label>Ympäristö: </label>
        <%= collection_select :environment, :id, Environment.all, :id, :name, {}, :title => "Valitse",  :class => "selectpicker show-menu-arrow show-tick span4 chosen-env", :multiple => true %>
      </div>
      <div class="well">
        <h2 class="jee">Kasvin ominaisuudet</h2>
        <label>Kasvin nimi: </label>
        <input type="text" name="plantname" data-id="plantname" class="search-input">
        <label>Kukkien pääväri: </label>
        <%= select :plant, :colour, colour_categories, {}, :class => "selectpicker show-menu-arrow span4 search-input", 'data-id' => "colour", :multiple => true %>
        <label>Hoidon tarve: </label>
        <%= select :plant, :maintenance, [['Helppo', 1], ['Keskivaikea', 2], ['Vaikea', 3]], {}, :class => "selectpicker show-menu-arrow span4 search-input", 'data-id' => "maintenance" %>
        <label>Maksimikorkeus kasveille: </label>
        <input type="text" name="plantmaxheight" data-id="plantmaxheight" class="search-input">
        <label>Minimikorkeus kasveille: </label>
        <input type="text" name="plantminheight" data-id="plantminheight" class="search-input">
      </div>
      <div class="well">
        <h2 class="jee">Rakenteen ominaisuudet</h2>
        <label>Vedenpitokyky minimissään</label>
        <input type="text" name="minabsorbancy" data-id="minabsorbancy" class="search-input">
        <label>Katon pinta-ala maksimissaan: </label>
        <input type="text" name="maxroofarea" data-id="maxroofarea" class="search-input">
        <label>Katon pinta-ala minimissään: </label>
        <input type="text" name="minroofarea" data-id="minroofarea" class="search-input">
        <label>Katon kantavuus vähintään: </label>
        <input type="text" name="minload_capacity" data-id="minload_capacity" class="search-input">
      </div>
      <button class="btn btn-custom span2 search-button" id="search-button" name="hae">Hae</button>
    </div>
  </div>
</div>


<p class="pagination"></p>
<p class="content"></p>
<section data-object="greenroof" data-id="list-section">
  <ul class="greenroof-list list">
  </ul>
</section>


<%= javascript_include_tag "bootstrap-select" %>
<script>$('.selectpicker').selectpicker();</script>

<%= javascript_include_tag "search/search" %>
<%= javascript_include_tag "pagination/bootpag" %>
<%= javascript_include_tag "search/greenroofs-search" %>
<%= javascript_include_tag "pagination/paginator" %>



