<% provide(:title, "Viherkattojen haku") %>
<%= stylesheet_link_tag "bootstrap-select", media: "all" %>

<div class="row">
  <div class="span5 offset3">
    <div data-id="greenroof" id="search-form">
      <label>Osoite</label>
      <input type="text" name="address" data-id="address" class="search-input">
      <label>Viherkaton kuvaus</label>
      <input type="text" name="groofnote" data-id="groofnote" class="search-input">
      <label>Kasvin nimi</label>
      <input type="text" name="plantname" data-id="plantname" class="search-input">
      <label>Kasvin väri</label>
      <input type="text" name="colour" data-id="colour" class="search-input">
      <label>Hoidon tarve</label>
      <input type="text" name="maintenance" data-id="maintenance" class="search-input">
      <label>Maksimikorkeus kasville</label>
      <input type="text" name="plantmaxheight" data-id="plantmaxheight" class="search-input">
      <label>Minimikorkeus kasville</label>
      <input type="text" name="plantminheight" data-id="plantminheight" class="search-input">
      <label>Ympäristö</label>
      <input type="text" name="envname" data-id="envname" class="search-input">
      <label>Kerros</label>
      <input type="text" name="layername" data-id="layername" class="search-input">

      <button class="btn btn-custom span2" name="hae">Hae</button>
    </div>
  </div>
</div>

<div >
  <p class="pagination"></p>

  <p class="content"></p>
  <ul class="greenroof-list" data-id="greenroof">

  </ul>
</div>

<%= javascript_include_tag "search/search" %>
<%= javascript_include_tag "pagination/bootpag" %>
<%= javascript_include_tag "search/greenroofs-search" %>
<%= javascript_include_tag "pagination/paginator" %>



