<% provide(:title, 'Käyttäjän '<< @greenroof.user.name << " viherkatto") %>
<%= stylesheet_link_tag "bootstrap-select", media: "all" %>
<%= stylesheet_link_tag "flexslider", media: "all" %>

<div class="row-fluid marketing">
  <div>
    <h1>
      <%= 'Käyttäjän '<< @greenroof.user.name << " viherkatto" %>
    </h1>

    <div id="slider-holder">
      <div class="flexslider span4">
        <ul class="slides">
          <li>
            <img src="/assets/greenroof1.jpg"/>
          </li>
          <li>
            <img src="/assets/greenroof2.jpg"/>
          </li>
          <li>
            <img src="/assets/greenroof3.JPG"/>
          </li>
          <li>
            <img src="/assets/2ndgreenroof.jpg"/>
          </li>
        </ul>
      </div>
    </div>
    <%= fields_for(@greenroof) do |f| %>
        <table class="table span5">
          <tr>
            <td><%= f.label :user, h("Käyttäjä: ") %></td>
            <td><%= f.label @greenroof.user.name %></td>
          </tr>

          <tr>
            <td><%= f.label :address, h("Sijainti: ") %></td>
            <td><%= f.label @greenroof.address %></td>
          </tr>

          <% if !@greenroof.constructor.nil? %>
          <tr>
            <td><%= f.label :constructor, h("Rakentaja: ") %></td>
            <td><%= f.label @greenroof.constructor %></td>
          </tr>
              <% end %>

          <tr>
            <td><%= f.label :purpose, h("Käyttötarkoitus: ") %></td>
            <td><%= f.label @greenroof.purpose %></td>
          </tr>

          <tr>
            <td><%= f.label "Katon tiedot:" %></td>
            <td><%= link_to "Katto", @greenroof.roof %></p></td>
          </tr>

          <tr>
            <td><%= f.label :plants, h("Kasvit ") %></td>
            <td>
              <div class="well"> <%= printPlants(@greenroof) + printCustomPlants(@greenroof) %> </div>
            </td>
          </tr>

          <tr>
            <td><%= f.label :bases, h("Rakennekerrokset ")%></td>
            <td>
              <div class="well"> <%= printBases(@greenroof) %> </div>
            </td>
          </tr>

          <tr>
            <td><%= f.label :note, h("Huomioita") %></td>
            <td>
              <div class="well"> <%= @greenroof.note %> </div>
            </td>
          </tr>

        </table>


    <% end %>
  </div>
</div>

<%= javascript_include_tag "flexslider" %>

<script>
    $(window).load(function () {
        $('.flexslider').flexslider({
            animation: "fade"
        });
    });
</script>


