<% provide(:title, 'Käyttäjän '<< @greenroof.user.name << " viherkatto") %>
<%= stylesheet_link_tag "bootstrap-select", media: "all" %>
<%= stylesheet_link_tag "photoslider", media: "all" %>







<div class="row-fluid marketing">
  <div>
    <h1>
      <%= 'Käyttäjän '<< @greenroof.user.name << " viherkatto" %>
    </h1>
    <%= javascript_include_tag "photoslider" %>
    <div class="span5">
      <div class="photoslider" id="default"></div>

      <%= javascript_include_tag 'photoinit' %>

    </div>

    <%= fields_for(@greenroof) do |f| %>
        <table class="table span5">
          <tr>
            <td><%= f.label :user %></td>
            <td><%= f.label @greenroof.user.name %></td>
          </tr>

          <tr>
            <td><%= f.label :address %></td>
            <td><%= f.label @greenroof.address %></td>
          </tr>


          <tr>
            <td><%= f.label :purpose %></td>
            <td><%= f.label @greenroof.purpose %></td>
          </tr>

          <tr>
            <td><%= f.label "Katon tiedot:" %></td>
            <td><%= link_to "Katto", @greenroof.roof %></p></td>
          </tr>

          <tr>
            <td><%= f.label :plants %></td>
            <td>
              <div class="well"> <%= printPlants(@greenroof) %> </div>
            </td>
          </tr>

          <tr>
            <td><%= f.label :bases %></td>
            <td>
              <div class="well"> <%= printBases(@greenroof) %> </div>
            </td>
          </tr>

        </table>


    <% end %>
  </div>
</div>

<%= javascript_include_tag "photoslider" %>


