<% provide(:title, 'Rakennekerrospaketin lisäys') %>

<%= stylesheet_link_tag "bootstrap-select", media: "all" %>

<div class="container">
  <div class="container span6">
    <div class="span6">
      <h1>Rakennekerrospaketin luonti</h1>
      <label for="base_name">Rakennepaketin nimi:</label>
      <input class="span4" id="base_name" name="base[name]" size="30" type="text">
      <%= render 'shared/forms/groof_constituent_fields' %>
      <label for="base_absorbancy">Lisähuomiot</label>
      <textarea class="span4" id="base_note" name="base[note]" size="30" type="text"></textarea>
    </div>
    <button class="btn btn-custom span3" id="save-button">Tallenna</button>
  </div>
</div>

<%= javascript_include_tag "bootstrap-select" %>
<%= javascript_include_tag "bootstrap-tooltip" %>
<%= javascript_include_tag "base-adder" %>
<script>$('.selectpicker').selectpicker();</script>