<% provide(:title, 'Pohjanäkymä') %>

<div class="row">

  <div class="span4 offset3">

    <h1>Pohja <%= @base.id %></h1>

    <table class="table">
      <tr>
        <td>Materiaali</td>
        <td><%= @base.material %></td>
      </tr>
      <tr>
        <td>Paksuus</td>
        <td><%= @base.thickness %> cm</td>
      </tr>
      <tr>
        <td>Vedenimukyky</td>
        <td><%= @base.absorbancy %> l/m2</td>
      </tr>
      <tr>
        <td>Paino</td>
        <td><%= @base.weight %> kg/m2</td>
      </tr>
    </table>

    <% if signed_in? && current_user.admin? %>
        <%= link_to "Muokkaa", edit_basis_path, class: "btn btn-large btn-custom" %>
    <% end %>
    <%= link_to "Takaisin", bases_path, class: "btn btn-large btn-custom" %>

  </div>

</div>
