<% provide(:title, 'Pohjanäkymä') %>

<div class="row">

  <div class="span4 offset2">

    <h1>ID <%= @base.id %></h1>

    <ul class="span4">

      <li><u>Materiaali:</u>       <%= @base.material %></li>

      <li><u>Paksuus:</u>          <%= @base.thickness %> cm</li>

      <li><u>Vedenimukyky:</u>     <%= @base.absorbancy %> l/m2</li>

      <li><u>Paino:</u>            <%= @base.weight %> kg/m2</li>

    </ul>

  </div>

</div>
