<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "etusivu", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-left">
          <li><%= link_to "Yhteystiedot",    '#' %></li>
          <% if signed_in? %>
              <li><%= link_to "Uloskirjaus", uloskirjaus_path %></li>
          <% else %>
              <li><%= link_to "Kirjaudu", kirjaudu_path %></li>
              <li><%= link_to "Rekisteröidy", rekisteroidy_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>